.App {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
}

/* Navbar */
.mantine-AppShell-navbar {
  width: 4rem;
}

.geoapify-autocomplete-input {
  border: 1px solid #ced4da;
  border-radius: 4px;
  padding: 8px 12px;
  font-size: 14px;
  width: 100%;
}

.geoapify-autocomplete-items {
  border: 1px solid #ced4da;
  border-radius: 4px;
  margin-top: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Incident Card */
.incident-card {
  cursor: pointer;
  transition: all 0.2s ease;
}

[data-mantine-color-scheme='dark'] .incident-card-title {
  color: var(--mantine-color-gray-0);
}

[data-mantine-color-scheme='dark'] .incident-card-description {
  color: var(--mantine-color-gray-3);
}

[data-mantine-color-scheme='dark'] .incident-card-location {
  color: var(--mantine-color-gray-5);
}

[data-mantine-color-scheme='dark'] .incident-card-date {
  color: var(--mantine-color-gray-5);
}

[data-mantine-color-scheme='light'] .incident-card-description {
  color: var(--mantine-color-gray-9);
}

[data-mantine-color-scheme='light'] .incident-card-location {
  color: var(--mantine-color-gray-6);
}

[data-mantine-color-scheme='light'] .incident-card-date {
  color: var(--mantine-color-gray-6);
}

.incident-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
}

[data-mantine-color-scheme='dark'] .incident-card:hover {
  background-color: var(--mantine-color-dark-6);
}

[data-mantine-color-scheme='light'] .incident-card:hover {
  background-color: var(--mantine-color-gray-1);
}
