.App {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Navbar */
.mantine-AppShell-navbar {
  width: 6rem;
}

/* Crime Report Form */
.crime-report-form {
  input {
    padding: 0.5rem;
  }
  /* .title-input-wrapper {
    padding: 1rem;

    input {
      padding: 0.5rem;
    }
  } */
}

.geoapify-autocomplete-input {
  border: 1px solid #ced4da;
  border-radius: 4px;
  padding: 8px 12px;
  font-size: 14px;
  width: 100%;
}

.geoapify-autocomplete-items {
  border: 1px solid #ced4da;
  border-radius: 4px;
  margin-top: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
