@import url('./App.css');
@import 'leaflet/dist/leaflet.css';

body {
  margin: 0;
  font-family: Monaco, Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
